
<div class="alcoholism_main">
  <div class="table_grid">
  {{!-- <table>
    <thead>
      <tr><th>Alcoholism</th></tr>
    </thead>
    <thead>
      <tr><th class="site_name">Patient ID</th><th>Has Disease</th><th>Source1</th><th>Source2</th><th>Source3</th></tr>
      {{!-- {{get diseases (concat 'did' 'name')}} --}}

      {{!-- </thead> --}}
      {{!-- <tbody> --}}
    {{!-- </tbody> --}}

  {{!-- </table> --}}
  <table class="highlight">
    <thead class="table_title">
      <h4>Alcoholism</h4>
    </thead>
       <thead>
         <tr>
             <th data-field="id">Patient ID</th>
             <th data-field="name">Has Disease</th>
             <th data-field="price">Source 1</th>
             <th data-field="price">Source 2</th>
             <th data-field="price">Source 3</th>
         </tr>
       </thead>

       <tbody>
         <tr>
           <td>#1</td>
           <td>yes</td>
           <td>1</td>
         </tr>
         <tr>
           <td>#2</td>
           <td>yes</td>
           <td>1</td>
         </tr>
       </tbody>
     </table>
</div>

<div class="back_button">

  {{#link-to "index"}}
  <button class="navbar_search">Close</button>
  {{/link-to}}
</div>

</div>

{{outlet}}
