<div class="pid4_main">
  <table>
    <thead>
      <tr><th>PID 4</th></tr>
    </thead>
    <thead>
      <tr><th class="site_name">Disease</th><th>Has Disease</th><th>Source1</th><th>Source2</th><th>Source3</th></tr>
      </thead>
      <tbody>
    </tbody>

  </table>

  {{#link-to "index"}}
  <button class="navbar_search">Close</button>
  {{/link-to}}

</div>
{{outlet}}
