<body>
  <table id="sample-table">
    <thead>
      <tr>
        <th>Person ID</th>
        <th>Lung Cancer</th>
        <th>Alcoholism</th>
        <th>Obesity</th>
      </tr>
    </thead>
  </table>
</body>
